@page "/handshake"

<PageTitle>Handshake</PageTitle>

<h1>Do a Handshake!</h1>

<p role="status">Number of Handshakes : @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Shake hands 🫲</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
