@page "/"

<PageTitle>Home</PageTitle>

<h1>Hi, this is Ayush Anand!</h1>

Welcome to my web app built with Blazor on .Net 6.0!

.Net is just amazing to work with and I really some real fun while building this webapp so easily.
I can see that the syntax is so easy to follow and very intuitive. 

<SurveyPrompt Title="How is Blazor working for you?" />
